################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/EventPlusWeb1/FileContentIndex/ff77793c-6b12-4b4a-b070-7e34005f3c6e.vsidx
/.vs/EventPlusWeb1/v18/.suo
/.vs/EventPlusWeb1/v18/DocumentLayout.backup.json
/.vs/EventPlusWeb1/v18/DocumentLayout.json
