################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/EventPlusWeb1/FileContentIndex/ff77793c-6b12-4b4a-b070-7e34005f3c6e.vsidx
/.vs/EventPlusWeb1/v18/.suo
/.vs/EventPlusWeb1/v18/DocumentLayout.backup.json
/.vs/EventPlusWeb1/v18/DocumentLayout.json
/.vs/EventPlusWeb1/FileContentIndex/49619497-e7a4-4c6a-b74a-4fa16782d320.vsidx
/.vs/EventPlusWeb1/FileContentIndex/77e71377-25b8-4d58-bbce-86f621774922.vsidx
/.vs/EventPlusWeb1/FileContentIndex/974d64f2-49ee-4495-af72-c9ca1be4c6b4.vsidx
/.vs/EventPlusWeb1/FileContentIndex/b33ec34c-82c4-4ea2-9153-df1a0647728f.vsidx
/.vs/EventPlusWeb1/FileContentIndex/c3a031d7-6ffb-4867-bee7-d22a941cdc9c.vsidx
/.vs/EventPlusWeb1/FileContentIndex/cb2addfb-8e22-4957-b7e7-405b9b4f5dd1.vsidx
/.vs/EventPlusWeb1/FileContentIndex/49619497-e7a4-4c6a-b74a-4fa16782d320.vsidx
/.vs/EventPlusWeb1/FileContentIndex/77e71377-25b8-4d58-bbce-86f621774922.vsidx
/.vs/EventPlusWeb1/FileContentIndex/974d64f2-49ee-4495-af72-c9ca1be4c6b4.vsidx
/.vs/EventPlusWeb1/FileContentIndex/b33ec34c-82c4-4ea2-9153-df1a0647728f.vsidx
/.vs/EventPlusWeb1/FileContentIndex/c3a031d7-6ffb-4867-bee7-d22a941cdc9c.vsidx
/.vs/EventPlusWeb1/FileContentIndex/49619497-e7a4-4c6a-b74a-4fa16782d320.vsidx
/.vs/EventPlusWeb1/FileContentIndex/77e71377-25b8-4d58-bbce-86f621774922.vsidx
/.vs/EventPlusWeb1/FileContentIndex/974d64f2-49ee-4495-af72-c9ca1be4c6b4.vsidx
/.vs/EventPlusWeb1/FileContentIndex/b33ec34c-82c4-4ea2-9153-df1a0647728f.vsidx
/.vs/EventPlusWeb1/FileContentIndex/c3a031d7-6ffb-4867-bee7-d22a941cdc9c.vsidx
