################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/EventPlusWeb1/FileContentIndex/d3f4d3e7-b452-459a-8b79-044bf45d4b16.vsidx
/.vs/EventPlusWeb1/v18/.suo
/.vs/EventPlusWeb1/v18/DocumentLayout.backup.json
/.vs/EventPlusWeb1/v18/DocumentLayout.json
